.nav-link{
    color: black;
    font-size:20px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.nav-link:hover{
    color: rgb(198, 208, 208);
    text-shadow: 2px 2px 3px rgb(131, 128, 128);
}
.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 900;
}

